div.footer
  p
    a.social(href="http://github.com/gazzwi86" target="_blank") #[i.fa.fa-github]
    a.social(href="https://www.linkedin.com/in/gareth-williams-aa405314" target="_blank") #[i.fa.fa-linkedin]
    a.social(href="https://twitter.com/gazzwi86" target="_blank") #[i.fa.fa-twitter]

  p #[a(href="https://www.google.com/analytics/") Google Analytics] is implemented on this site, which uses cookies.
  
  p #[a(href="http://www.itinerateconsulting.com") Itinerate Consulting] &copy; {{$ctrl.date | date:'yyyy'}}