#bg {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('/assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/bg.jpg', sizingMethod='scale')";
}

.section {
  position: relative;
  min-height: 100vh;
  padding-top: 50px;
  background: #fff;
  z-index: 2;
}

#banner {
  position: relative;
  padding: 30px 15px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border-bottom: none;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }

  a {
    text-decoration: none;
    
    &:active, &:link, &:visited {
      color: #fff;
    }

    &:hover {
      color: #0093d0;
    }
  }

  .social {
    font-size: 2em;
    padding: 0 5px;
  }
}

#banner,
#contact {
  color: #F5F5F5;
  background: rgba(0, 58, 82, 0.5);
}

.service {
  min-height: 400px;
}

.work:hover,
.clients:hover {
  opacity: 0.8;
  cursor: pointer;
}

.folioImg {
  width: 100%;
  border: #0093d0 1px solid;
  border-radius: 6px;
}

#testimonials {
  .testimonial {
    margin-bottom: 15px;

    &:nth-child(2n) {
      article {
        float: right;      
      }
    }

    &:nth-child(2n+1) {
      float: right;

      .img {
        float: right;      
      }
    }

    .img {
      img {
        border: #0093d0 1px solid;
        border-radius: 6px;
        max-width: 100%;
      }
    }

    article {
      margin-bottom: 30px;
      border-bottom: 3px solid #0093d0;
      border-right: 3px solid #0093d0;
      background: rgba(0, 58, 82, 0.1);
      padding: 10px 15px;
      border-radius: 6px;
    }
    
    .text {
      font-size: 1.2em;
      font-style: italic;
    }
    
    h4 {
      font-size: 1em;
      text-align: right;
    }
  }
}

.modal-dialog  {
  width: 90% !important;
  max-width: 800px !important;

  .dialogImg,
  .dialogTxt {
    width: 100%;
  }

  .dialogImg {
    border-radius-top-right: 6px;
    border-radius-top-left: 6px;
  }

  .dialog-text {
    padding: 15px;
  }
}
